.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
}

.titulo {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.mensagem {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.botoesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Espaçamento entre os botões */
}

.botoesContainer button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botoesContainer button:hover {
    background-color: #0070f3;
    /* Cor ao passar o mouse */
    color: white;
    /* Texto branco ao passar o mouse */
}